@font-face {
	font-family: 'leckerlione';
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'), url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'), url('../fonts/leckerlione/leckerlione-regular-webfont.svg') format('svg');
}
@font-face {
	font-family: 'pollerone';
	src: url('../fonts/pollerone/pollerone-webfont.eot');
	src: url('../fonts/pollerone/pollerone-webfont.woff') format('woff'), url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'), url('../fonts/pollerone/pollerone-webfont.svg') format('svg');
}
*{
	padding: 0;
	margin: 0;
}
html{	
	scroll-behavior: smooth;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
	height: 1px;
	visibility: hidden;
}
div.responsive{
	display: none !important;
}
header nav ul li a.close{
	display: none;
}
#index{
	margin: 0;
	padding: 0;
}
.text-light {
	color: #ffffff;
}
header{
	width: 100%;
	background-image: url(../images/blured.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'pollerone';
	height: 107vh;
	margin-top: -3%;
}
header nav{
	position: fixed;
	top: 0%;
	width: 100%;
	padding: 30px 0;
	background-color: rgba(0, 0, 0, .4);
	z-index: 999999;
}
header div{
	display: block !important;
	clear: both;
	padding-top: 15%;
}
header div h1{
	font-size: 4em;
}
header div p{
	width: 70%;
	margin: 2% auto;
	font-size: 1.5em;
	border-bottom: 1px solid rgba(255, 255, 255, .4);
}
header div ul.social{
	width: 70%;
	margin: 0 auto;
}
header div ul.social li{
	width: 50%;
	font-size: 2em;
}
header div ul.social li a:hover{
	color: #0b48a3;
}
header img{
	display: block;
	margin: 35px auto;
}
header ul{
	display: flex;
	list-style: none;
	padding-left: 0;
	width: 100%;
}
header ul li{
	text-transform: uppercase;
	font-family: 'pollerone';
	font-size: 13px;
	width: 25%;
}
header ul li a{
	text-decoration: none;
	color: #000;
	padding: 15px;
}
header ul li a:hover{
	color: #0b48a3;
}
header ul li:target a{
	color: #0b48a3;
}
#home h1{
	margin-bottom: 15%;
}
main{
	position: relative;
	margin-bottom: 45px;
}
main img{
	display: block;
	width: 100%;
}
.first-p{
	outline: 1px solid #fff;
	position: absolute;
	left: 50%;
	top: 80px;
	padding: 25px;
	background-color: #fff;
	font-size: 20px;

}
.second-p{
	position: absolute;
	left: 50%;
	top: 180px;
	padding: 15px;
	padding-left: 25px;
	background-color: #252525;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
}
.third-p{
	position: absolute;
	left: 50%;
	top: 245px;
	padding: 15px;
	padding-left: 25px;
	background-color: #252525;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
}
.fourth-p{
	position: absolute;
	left: 50%;
	top: 310px;
	padding: 15px;
	padding-left: 25px;
	background-color: #252525;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
}
main a{
	position: absolute;
	left: 50%;
	top: 400px;
	padding: 23px;
	padding-left: 30px;
	padding-right: 30px;
	color: #fff;
	text-transform: uppercase;
	font-family: sans-serif;
	background-color: #0ba39c;
	text-decoration: none;
}
.address{
	display: flex;
	flex-direction: column;
}
.wrapper{
	width: 1200px;
	margin: 0 auto;
}
.wrapper section{
	float: left;
	width: 30%;
	margin: 20px;
}
.wrapper section img{
	border: 3px solid #252525;
	width: 100%;
	opacity: 0.8;
	transition: all .3s linear;
}
.wrapper section img:hover{
	opacity: 1;
}
.desc{
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	font-size: 22px;
}
footer{
	background-color: #0b48a3;
}
footer div.wrapper ul{
	width: 100%;
	display: flex;
	list-style: none;
	padding: 3% 0;
}
footer div.wrapper ul li{
	width: 50%;
	text-align: center;
	font-size: 2em;
}
footer div.wrapper ul li a{
	color: lightslategray;
}
footer div.wrapper ul li a:hover{
	color: #000;
}
/*======================work=============================*/
#work{
	background-color: #ebeeee;
}
#work section{
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 55px;
	padding: 15px;
}
#work h1{
	width: 16%;
	margin: 35px auto;
	padding: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'pollerone';
	background-color: #0b48a3;
	color: #fff;
}
#work p{
	text-align: center;
    font-weight: bold;
    font-family: 'pollerone';
    color: #0b48a3;
}
#work section img{
	border-bottom: 2px solid lightslategrey;
	opacity: 0.8;
	padding-bottom: 10px;
	margin: 10px 0;
	transition: all .2s linear;
	width: 49%;
}
#work section img:hover{
	opacity: 1;
	cursor: pointer;
}
/*=================resume===========================*/
.wrapper-section{
	width: 1000px;
	margin: 55px auto;
}
.wrapper-section h1{
	width: 63%;
	margin: 35px auto;
	padding: 15px;
	font-size: 35px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'pollerone';
	background-color: #0b48a3;
	color: #fff;
}
.wrapper-section section{
	display: flex;
	border-bottom: 1px solid lightslategrey;
	margin-bottom: 15px;
	text-align: center; 
}
.wrapper-section section.card-block h2{
	color: #0b48a3;
}
.wrapper-section section div.resume-half{
	width: 60%;
	color: #0b48a3;
	text-align: left;
	font-family: 'pollerone';
}
.wrapper-section section div.resume-half p,
.wrapper-section section div.resume-half span{
	font-weight: 400 !important;
	color: lightslategrey;
}
.wrapper-section section div.resume-half span{
	display: block;
	padding: 15px 0;
}
.wrapper-section section > h2{
	width: 40%;
	color: #252525;
	font-family: 'pollerone';
	padding-top: 45px;
}
.wrapper-section section p{
	font-family: sans-serif;
	padding-bottom: 15px;
}
.wrapper-section section a{
	text-decoration: none;
	color: #252525;
}
.wrapper-section section a:hover{
	color: #0b48a3;
}
/*==============contact===============*/
#contact{
	background-color: #ebeeee;
	text-align: center;
	font-family: 'pollerone';
}
#contact section.wrapper{
	padding: 2% 0;
}
#contact h1{
	width: 50%;
    margin: 35px auto;
    padding: 15px;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'pollerone';
    background-color: #0b48a3;
    color: #fff;
}
#contact section.wrapper div.contact-half{
	display: flex;
	width: 100%;
	text-align: center;
	padding: 5% 0;
}
#contact section.wrapper div.contact-half div{
	width: 100%;
	color:  #0b48a3;
}
#contact section.wrapper div.contact-half div i{
	color:  #0b48a3;
	font-size: 4em;
}
#contact section.wrapper div.contact-half div h3{
	width: 100%;
}
#contact section.wrapper div.contact-half div a{
	text-decoration: none;
	color:  #0b48a3;
}
#contact section.wrapper div.contact-half div a:hover{
	color: #000;
}